<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>

<body>
    <div class="container1">
        <h1>Name: {{data['username']}}</h1>
        <h1>Balance: {{data['balance']}}</h1>
    </div>
    <button data-modal-target="#modal">Pay</button>
    <div class="modal" id="modal">
        <div class="modal-header">
            <div class="title">Make Payment</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            <form action="\home" method="post">
                <input type="text" name="flag" value="payrequest" style="display: none;">
                <input type="text" name="username" placeholder="Send to [enter username]">
                <input type="text" name="amount" placeholder="enter amount">
                <input type="text" name="pin" placeholder="enter pin">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div id="overlay"></div>
    <div class="container2">
        <h1>Quick Send</h1>
        {% for i in sentlist %}
        <h4>{{i}}</h4>
        {% endfor %}
    </div>
    {% if megaflag==1 %}
    <div class="errorbox">
        <div class="errorbox-header">
            <div class="title">Payment failed</div>
            <form action="\home" method="post">
                <input type="test" name="flag" value="removeerrorboxrequest" style="display: none;">
                <button class="close-button">&times;</button>
            </form>
        </div>
        <div class="errorbox-body">
            {% if flag==1 %}
            <h1>Error occured:</h1>
            <h2>The account to which you were trying to transfer funds doesnt exits.</h2>
            <h2>Make sure you input username correctly</h2>
            {% elif flag==2 %}
            <h1>Error occured:</h1>
            <h2>Amount entered is less than or equal to zero cannot transfer funds</h2>
            {% elif flag==3 %}
            <h1>Error occured:</h1>
            <h2>Insufficient balance. Check amount before entering</h2>
            {% elif flag==4 %}
            <h1>Error occured:</h1>
            <h2>Incorrect pin entered, enter correct pin to transfer funds.</h2>
            <h2></h2>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <form action="/" method="post">
        <input type="text" name="flag" value="signoutrequest" style="display: none;">
        <button type="submit">Sign-Out</button>
    </form>
</body>
<script>
    const openModalButtons = document.querySelectorAll('[data-modal-target]')
    const closeModalButtons = document.querySelectorAll('[data-close-button]')
    const overlay = document.getElementById('overlay')

    openModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            const modal = document.querySelector(button.dataset.modalTarget)
            openModal(modal)
        })
    })

    overlay.addEventListener('click', () => {
        const modals = document.querySelectorAll('.modal.active')
        modals.forEach(modal => {
            closeModal(modal)
        })
    })

    closeModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            const modal = button.closest('.modal')
            closeModal(modal)
        })
    })

    function openModal(modal) {
        if (modal == null) return
        modal.classList.add('active')
        overlay.classList.add('active')
    }

    function closeModal(modal) {
        if (modal == null) return
        modal.classList.remove('active')
        overlay.classList.remove('active')
    }
</script>

</html>